## MYSQL Implementation in Python

###### Data Base Connectivity

1. Install the Packages

2. import modules

3. connect to the Data Base

4. Create Object which Carry SQL Statement to the Data Base

5. Excecute the command

6. Commit if the Command is DML command

7. Close the Connection

Connecting to the SQL Server and Data Base

###### Program to show Existing  Data Bases

In [13]:
import mysql.connector
mydb=mysql.connector.connect(host="localhost",user="root",password="Saisridhar@2001")
mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(*x,end=",")

information_schema,mydatabase,mysql,performance_schema,sys,testdb,

##### Program to show Existing Tables in a  Specific Data Base

In [11]:
import mysql.connector
mydb=mysql.connector.connect(host="localhost",user="root",password="Saisridhar@2001",database="mydatabase")
mycursor=mydb.cursor()
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(*x)

sridhar

##### Displaying  Values of the Table 'sridhar' in Data Base :'mydatabase'

In [28]:
import mysql.connector
mydb=mysql.connector.connect(host="localhost",user="root",password="Saisridhar@2001",database="mydatabase")
mycursor=mydb.cursor()
SQL="UPDATE sridhar SET  Last_name='Kolluri'  WHERE  Last_name='kollri'"
mycursor.execute(SQL)
mydb.commit()
mycursor.execute("SELECT * FROM sridhar")
for x in mycursor:
    print(*x,end=",")

1 Sai Sridhar Kolluri Tottramudi Amalapuram,1 Sai Sridhar Kolluri Tottramudi Amalapuram,

In [5]:
import mysql.connector
mydb=mysql.connector.connect(host="localhost",user="root",password="Saisridhar@2001",database="mydatabase")
mycursor=mydb.cursor()
Sql1="DELETE FROM sridhar WHERE id='1' "
mycursor.execute(Sql1)
data=mycursor.fetchall()
print("id,firstname,lastname,address,city")
for x in data:
    for y in x:
        print(y,end=",")
    print()

id,firstname,lastname,address,city

In [1]:
import mysql.connector
mydb=mysql.connector.connect(host="localhost",user="root",password="Saisridhar@2001",database="mydatabase")
mycursor=mydb.cursor()
Sql1="INSERT INTO sridhar (ID,First_name,Last_name,Address,city) VALUES (%d,%s,%s,%s,%s)"
val=[(1,'Sai Sridhar','Kolluri','Tottaramudi','Amalapuram'),
     (2,'Rahul','Sharma','B-Block','Gurugram')]
mycursor.executemany(Sql1,val)
data=mycursor.fetchall()
for x in data:
    for y in x:
        print(y,end=",")
    print()

ProgrammingError: Not all parameters were used in the SQL statement